<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.common.mapper.IconsMapper">

	<!-- 实体映射Map -->
	<resultMap type="icons" id="iconsMap">
		<id column="ID" property="id"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="RESOURCE" property="resource"/>
		<result column="TEXT" property="text"/>
		<result column="CODE" property="code"/>
		<result column="RESOURCE_ID" property="resourceId"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="MODIFY_BY" property="modifyBy"/>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	ID AS id,	CREATE_DATE AS createDate,	MODIFY_DATE AS modifyDate,	RESOURCE AS resource,	TEXT AS text,	CODE AS code,	RESOURCE_ID AS resourceId,	CREATE_BY AS createBy,	MODIFY_BY AS modifyBy
	</sql>

	<!-- 查询分页列表基础SQL -->
	<sql id="queryBaseSql">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM SYS_ICONS
		 WHERE 1 = 1
		 <if test="createDate != null and createDate != ''">AND CREATE_DATE = #{createDate}</if>
		 <if test="modifyDate != null and modifyDate != ''">AND MODIFY_DATE = #{modifyDate}</if>
		 <if test="resource != null and resource != ''">AND RESOURCE = #{resource}</if>
		 <if test="text != null and text != ''">AND TEXT = #{text}</if>
		 <if test="code != null and code != ''">AND CODE = #{code}</if>
		 <if test="resourceId != null and resourceId != ''">AND RESOURCE_ID = #{resourceId}</if>
		 <if test="createBy != null and createBy != ''">AND CREATE_BY = #{createBy}</if>
		 <if test="modifyBy != null and modifyBy != ''">AND MODIFY_BY = #{modifyBy}</if>

	</sql>

	<!-- 查询列表数据 -->
	<select id="queryList" resultType="icons" parameterType="icons">
		 SELECT 
			 *
		 FROM
		 (
		 <include refid="queryBaseSql" />
		 ) T LIMIT #{start},#{limit}
	</select>

	<!-- 查询总条数 -->
	<select id="queryCount" resultType="java.lang.Long" parameterType="icons">
		 SELECT 
			 COUNT(0)
		 FROM
		 (
		 <include refid="queryBaseSql" />
		 ) T
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="icons" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM SYS_ICONS
		 WHERE ID = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM SYS_ICONS
		 WHERE ID = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="icons">
		 INSERT INTO SYS_ICONS
 		(ID,CREATE_DATE,MODIFY_DATE,RESOURCE,TEXT,CODE,RESOURCE_ID,CREATE_BY,MODIFY_BY) 
		 VALUES 
 		(#{id},#{createDate},#{modifyDate},#{resource},#{text},#{code},#{resourceId},#{createBy},#{modifyBy}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="icons">
		 INSERT INTO SYS_ICONS
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 ID,
			</if>
			<if test="createDate != null">
				 CREATE_DATE,
			</if>
			<if test="modifyDate != null">
				 MODIFY_DATE,
			</if>
			<if test="resource != null">
				 RESOURCE,
			</if>
			<if test="text != null">
				 TEXT,
			</if>
			<if test="code != null">
				 CODE,
			</if>
			<if test="resourceId != null">
				 RESOURCE_ID,
			</if>
			<if test="createBy != null">
				 CREATE_BY,
			</if>
			<if test="modifyBy != null">
				 MODIFY_BY,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="resource!=null">
				 #{resource},
			</if>
			<if test="text!=null">
				 #{text},
			</if>
			<if test="code!=null">
				 #{code},
			</if>
			<if test="resourceId!=null">
				 #{resourceId},
			</if>
			<if test="createBy!=null">
				 #{createBy},
			</if>
			<if test="modifyBy!=null">
				 #{modifyBy},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="icons">
		 UPDATE SYS_ICONS
 		 <set> 
			<if test="createDate != null">
				 CREATE_DATE = #{createDate},
			</if>
			<if test="modifyDate != null">
				 MODIFY_DATE = #{modifyDate},
			</if>
			<if test="resource != null">
				 RESOURCE = #{resource},
			</if>
			<if test="text != null">
				 TEXT = #{text},
			</if>
			<if test="code != null">
				 CODE = #{code},
			</if>
			<if test="resourceId != null">
				 RESOURCE_ID = #{resourceId},
			</if>
			<if test="createBy != null">
				 CREATE_BY = #{createBy},
			</if>
			<if test="modifyBy != null">
				 MODIFY_BY = #{modifyBy},
			</if>

 		 </set>
		 WHERE ID = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="icons">
		 UPDATE SYS_ICONS
		 SET 
			 CREATE_DATE = #{createDate},
			 MODIFY_DATE = #{modifyDate},
			 RESOURCE = #{resource},
			 TEXT = #{text},
			 CODE = #{code},
			 RESOURCE_ID = #{resourceId},
			 CREATE_BY = #{createBy},
			 MODIFY_BY = #{modifyBy}
		 WHERE ID = #{id}
	</update>

</mapper>